Tests: python2
Depends: ipython, ipython-notebook, ipython-doc, ipython-qtconsole,
	 python-nose,
	 cython,
         graphviz,
         libc-bin,
         python-all,
         python-all-dev,
         python-argparse,
         python-configobj,
         python-decorator,
         python-matplotlib,
         python-pexpect,
         python-pygments,
         python-pyparsing,
         python-rpy2,
         python-qt4,
         python-simplegeneric,
         python-sphinx,
         python-tk,
         python-tornado,
         python-wxgtk2.8,
         python-zmq,
         xauth,
         xvfb

Tests: python3
Depends: ipython3, ipython3-notebook, ipython-doc, ipython3-qtconsole,
	 python3-nose,
	 cython3,
         graphviz,
         libc-bin,
         python3-all,
         python3-all-dev,
         python3-decorator,
         python3-matplotlib,
         python3-pygments,
         python3-pyparsing,
         python3-pyqt4,
         python3-simplegeneric,
         python3-sphinx,
         python3-tk,
         python3-tornado,
         python3-zmq,
         xauth,
         xvfb

Tests: cython-magic2
Depends: ipython, cython, python-dev, python-pexpect

Tests: cython-magic3
Depends: ipython3, cython3, python3-dev, python-pexpect

Tests: tools2
Depends: ipython, python-lxml

Tests: tools3
Depends: ipython3, python3-lxml

Tests: incomplete-install
Depends: ipython ipython3
